<head><script defer src="/app.js"></script><link href="/css/style.css" rel="stylesheet"></head>
<!-- <ul class="c-actions">
    <li class="c-action">
        <span class="c-action__title">طلبات تحتاج المعالجة 10</span>
        <a href="" class="c-btn c-actin__link">مشاهدة الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">  رسائل تحتاج الاجابة 5</span>
        <a href="" class="c-btn c-actin__link">مشاهدة الرسائل</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">  منتجات ضرورية على وشك النفاذ 3</span>
        <a href="" class="c-btn c-actin__link">مشاهدة المنتجات</a>
    </li>
</ul> -->

<ul class="c-actions c-actions--oneline">
    <li class="c-action">
        <span class="c-action__title">طلبات تحتاج المعالجة 10</span>
        <a href="" class="c-btn c-actin__link">مشاهدة الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">  رسائل تحتاج الاجابة 5</span>
        <a href="" class="c-btn c-actin__link">مشاهدة الرسائل</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">  منتجات ضرورية على وشك النفاذ 3</span>
        <a href="" class="c-btn c-actin__link">مشاهدة المنتجات</a>
    </li>
</ul>
