<head><script defer src="/app.js"></script><script defer src="/assets/js/tabs.js"></script><link href="/css/style.css" rel="stylesheet"></head>
<div class="c-tabs js-tab">
    <div class="c-tabs__control">
        <span class="c-tabs__tab js-tab-link active" data-index="orders">طلبات بحاجة للمراجعة</span>
        <span class="c-tabs__tab js-tab-link" data-index="products">منتجات على وشك النفاذ</span>
        <span class="c-tabs__tab js-tab-link" data-index="clients">زبائن جدد</span>
    </div>
    <div class="c-tabs__content">
        <div class="c-tabs__tabarea js-tabarea active" data-indexed="orders">
            <div class="c-list">
                <img src="/assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
                <span class="c-list__data">قميص اسود M</span>
                <span class="c-list__data">احمد فريد</span>
                <span class="c-list__data">القاهرة - مصر</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__action">
                    <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small">تواصل</a>
                    <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                </div>
            </div>
        </div>
        <div class="c-tabs__tabarea js-tabarea" data-indexed="products">
            <div class="c-list">
                <img src="/assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
                <span class="c-list__data">قميص اسود M</span>
                <span class="c-list__data">احمد فريد</span>
                <span class="c-list__data">القاهرة - مصر</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__action">
                    <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small">تواصل</a>
                    <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                </div>
            </div>
        </div>
        <div class="c-tabs__tabarea js-tabarea" data-indexed="clients">
            <div class="c-list">
                <img src="/assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
                <span class="c-list__data">قميص اسود M</span>
                <span class="c-list__data">احمد فريد</span>
                <span class="c-list__data">القاهرة - مصر</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__action">
                    <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small">تواصل</a>
                    <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                </div>
            </div>
        </div>
    </div>
</div>
